* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    margin: auto;
}

header {
    display: block;
    height: 42rem;
    background-image: url(/img/group1/headerbackground.png);
    background-repeat: no-repeat;
    background-size: 100% 40rem;
}

.header .header-top {
    height: 6.5rem;
    display: ifle;
}

.logo {
    width: 18rem;
    height: 4rem;
    margin-left: 4.5rem;
}

.logo img {
    width: 20rem;
    height: 4rem;
    margin-top: 2rem;
}

.menu {
    width: 80rem;
    float: right;
}

.menu ul {
    margin-left: 12rem;
    margin-top: 4rem;
    
}

.menu ul li {
    margin-left: 2rem;
    margin-right: 2rem;
    display: inline;
    font-size: 1.4rem;
    letter-spacing: 0.2rem; 
}
a {
    text-decoration: none;
}
.header-bottom {
    display: inline-flex;
    height: 35.5rem;
}
.header-bottom .left {
    display: flexbox;
    margin-top: 10rem;
}
.left .image1 {
    position: relative;
    top: -1rem;
    width: 33rem;
    height: 29rem;
}
.left .image2 {
    position: relative;
    top: -7.5rem;
    left: 8rem;
}
.left .image3 {
    position: relative;
    top: -25.5rem;
    left: 38rem;
}
.left .subtitle1 {
    position: relative;
    top: -38.5rem;
    left: 9rem;
}
.left .subtitle2 {
    position: relative;
    top: -33rem;
    left: 44rem;
}
.header-bottom .right {
    margin-left: 18rem;
    margin-top: 4rem;
}
.right .dog {
    width: 29.5rem;
    position: relative;
    top: 11px;
}
section {
    width: 100%;
    background-color: white;
}
section .group-1 {
    display: inline-flex;
    height: 15rem;
}
.group1-image1 .out {
    position: relative;
    top: -28rem;
    left: 20rem;
}
.group1-image1 .story {
    width: 15rem;
    height: 6rem;
    position: relative;
    top: -20rem;
    left: 13rem;
}
.group1-image1 .image1 {
    position: relative;
    top: 5.5rem;
    width: 25rem;
    height: 30rem;
}
.group1-text {
    display: block;
    margin-left: 15rem;
    margin-right: 10rem;
    font-size: 25px;
    line-height: 40px;
    padding-top: 6rem;
}
.group1-text p {
    margin-bottom: 2rem;
}

.group1-text span {
    letter-spacing: 2px;
    font-size: larger;
    padding-top: 3rem;
    color: #7fb8e0;
}
.group1-image2 .image2 {
    position: relative;
    top: 3rem;
    right: 5rem;
    width: 25rem;
    height: 25rem;
}
.group2-top {
    display: block;
    background-image: url(/img/group3/chicken.png);
    background-size: 100% 25rem;
    background-repeat: no-repeat;
    width: 100%;
    height: 20rem;
}
.group-2 .chicken {
    height: 5rem;
    margin-left: 32rem;
}
.group-2 .lorem {
    margin-top: 3rem;
    margin-left: 30rem;
}
.group2-bottom {
    display: inline-flex;
    height: 40rem;
}
.group2-bottom-left {
    display: block;
    width: 80rem;
}
.group2-bottom-left .subtile {
    margin-left: 20rem;
    margin-top: 12rem;
    width: 25rem;
}
.group2-bottom-left p {
    width: 55rem;
    margin-top: 2rem;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20.2rem;
    font-size: 1.2rem
}
.group2-bottom-left button {
    margin-left: 20.2rem;
    margin-top: 2rem;
    line-height: 2rem;
    font-size: large;
    color: white;
    border: none;
    background-color: #7fb8e0;
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
}
.blackbug {
    margin-top: 4rem;
    width: 25rem;
    height: 32rem;
}
.smartobj2 {
    margin-bottom: 20rem;
    margin-left: -4rem;
}
.group-3 {
    display: flex;
    height: 30rem;
    background-color: #f0f0f0;
}
.group3-left {
    width: 30rem;
    display: block;
    height: 20rem;
}
.group3-left .image1 {
    width: 29rem;
    margin-top: 7rem;
    margin-left: 8rem;
}
.group3-left input {
    width: 29rem;
    height: 2rem;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 4rem;
    margin-left: 8rem;
    background-color: #f0f0f0;
}
.group3-left .image3 {
    margin-left: 35rem;
    position: relative;
    bottom: 2.5rem;
}
.group3-left .image4 {
    margin-left: 35.8rem;
    position: relative;
    bottom: 3.4rem;
}
.group3-left p {
    position: relative;
    top: 3.5rem;
    font-size: 2rem;
    margin-left: 8rem;
}
.group3-left button {
    margin-left: 8rem;
    line-height: 2rem;
    font-size: large;
    color: white;
    border: none;
    background-color: #7fb8e0;
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
}
.group3-center {
    width: 30rem;
    margin-left: 15rem;
}
.group3-center img {
    position: relative;
    bottom: 7rem;
    height: 44rem;
}
.group3-right img {
    width: 27rem;
    margin-top: 7rem;
    margin-right: 8rem;
    margin-bottom: 2rem;
}
.group3-right p {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 4rem;
}
.group3-right button {
    line-height: 2rem;
    font-size: large;
    color: white;
    border: none;
    background-color: #7fb8e0;
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
}
.group-4 {
    height: 38rem;
    display: inline-flex;
}
.group4-left img {
    width: 27rem;
    height: 27rem;
    margin-top: 6rem;
    margin-left: 18rem;
}
.group4-right img {
    width: 35rem;
    height: 2.5rem;
    margin-top: 12rem;
    margin-left: 5rem;
    margin-bottom: 3rem;
}
.group4-right p {
    font-size: 1.5rem;
    margin-left: 5rem;
    margin-right: 10rem;
    margin-bottom: 3rem;
}
.group4-right button {
    margin-left: 5rem;
    line-height: 2rem;
    font-size: large;
    color: white;
    border: none;
    background-color: #7fb8e0;
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
}
footer {
    background-color: white;
    height: 40rem;
}
footer .footer {
    display: flex;
    margin-left: 6rem;
    width: 90%;
    height: 34rem;
    background-image: url(/img/group5/background5.png);
    background-size: 100% 32rem;
    background-repeat: no-repeat;
}
.footer .footer-left {
    width: 40rem;
    margin-left: 40rem;
}
.footer-left img {
    margin-top: 9rem;
    margin-left: 15rem;
}
.footer-left .menu-footer {
    width: 23rem;
    margin-top: 11rem;
    margin-left: 14rem;
}
.menu-footer ul {
    list-style-type: none;
}
.menu-footer li {
    display: inline;
    margin: 1rem;
    color: #46222a;
}
.menu-footer li a {
    color: #46222a;
    font-size: 1.2rem;
}
.footer-left p {
    letter-spacing: 1px;
    font-family: fantasy;
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-left: 14rem;
}
.footer-right {
    margin-top: 29rem;
    margin-left: 8rem;
}
.footer-right a {
    margin-left: 0.3rem;
}