@media screen and (max-width: 360px) {
    .nav-menu {
        max-width: 36rem;
    }
    .nav-menu button {
        position: relative;
        display: inline;
        left: 13.5rem;
        background-color: #67adcd;
        margin-right: 1rem;
        margin-top: 0.5rem;
        border: none;
    }
    .logo {
        max-width: 1rem;
        margin-left: -1rem;
    }
    .logo img {
        margin-top: 0.5rem;
        max-height: 1.5rem;
    }
    .menu {
        position: relative;
        box-shadow: 2px 2px 2px 2px;
        top: 0rem;
        left: 0rem;
        background-color: white;
        max-height: 8rem;
        display: none;
        max-width: 12rem;
        float: right;
        margin-left: 12.5rem;
    }
    .menu .list li {
        margin-left: 0rem;
        display: inline;
        font-size: 0.7rem;
        letter-spacing: 0rem;
    }
    .menu .list li a {
        color: black;
    }
    .menu .list {
        margin-top: 0.1rem;
    }
    section .our-story {
        max-width: 100%;
        display: inline-flex;
        height: 12rem;
    }
    .our-story .product {
        max-width: 10rem;
    }
    .image .greybug {
        display: none;
    }
    .image .out {
        display: none;
    }
    .image .story {
        display: none;
    }
    .content {
        margin-left: 1rem;
        margin-right: 0rem;
        padding-top: 0rem;
    }
    .content p {
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.8rem;
        line-height: 17px;
    }
    .content span {
        font-size: 21px;
        color: #7fb8e0;
    }
    .product .fooddog {
        top: 0.8rem;
        right: -1rem;
        width: 8rem;
        height: 9rem;
    }
    .content-banner {
        background-size: 100% 10rem;
        background-repeat: no-repeat;
        height: 10rem;
    }
    .content-banner .smartobj {
        display: none;
    }
    .content-banner .banner {
        margin-top: 1rem;
        height: 2.4rem;
        margin-left: 5.4rem;
        width: 12rem;
    }
    .content-banner p {
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 0.8rem;
    }
    .content-story {
        margin-left: 0rem;
        max-width: 100%;
        display: inline-flex;
        max-height: 13rem;
    }
    .content-text .subtile {
        height: 1.5rem;
        margin-left: 1rem;
        margin-top: 1rem;
        max-width: 13rem;
    }
    .content-text p {
        max-width: 15rem;
        margin-top: 0.1rem;
        margin-left: 1.2rem;
        font-size: 0.8rem;
    }
    .content-text button {
        font-size: 16px;
        margin-left: 1.3rem;
        margin-top: 0rem;
        line-height: 0.5rem;
    }
    .content-image .blackbug {
        margin-left: 0rem;
        margin-top: 2rem;
        width: 9rem;
        height: 11rem;
    }
    .content-image .smartobj2 {
        display: none;
    }
    .product-content {
        max-height: 20rem;
    }
    .dog-breed {
        margin-left: 1rem;
    }
    .dog-breed .subtitle {
        width: 16rem;
        margin-top: 1.8rem;
        margin-left: 0rem;
    }
    .dog-breed p {
        top: 1.5rem;
        font-size: 1.2rem;
        margin-left: 0rem;
    }
    .dog-breed input {
        background-color: white;
        height: 2rem;
        max-width: 13rem;
        margin-left: 0rem;
        margin-top: 0rem;
    }
    .dog-breed button {
        margin-top: 1rem;
        margin-left: 0rem;
        line-height: 1rem;
        font-size: 0.7rem;
    }
    .dog-breed .eclipse {
        display: none;
    }
    .dog-breed .shape {
        display: none;
    }
    .learn-more-dog-breed {
        width: 100%;
        display: inline;
        max-height: 10rem;
        background-size: 100% 30rem;
    }
    .image-dog-breed {
        margin-bottom: -6rem;
    }
    .image-dog-breed img {
        width: 4.5rem;
        bottom: 8.6rem;
        height: 9.1rem;
        left: 12rem;
        margin-bottom: -3rem;
    }
    .learn-more {
        display: none;
    }
    .img-product img {
        width: 9rem;
        height: 9rem;
        margin-top: 1.7rem;
        margin-left: -1rem;
    }
    .all-product {
        max-height: 14rem;
        margin-bottom: -1rem;
    }
    .content-product img {
        width: 13.7rem;
        height: 0.9rem;
        margin-top: 2.1rem;
        margin-left: -1.5rem;
        margin-bottom: 0.1rem;
    }
    .content-product p {
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.8rem;
        margin-left: -1.6rem;
        margin-right: 0rem;
        margin-bottom: 0.5rem;
    }
    .content-product button {
        margin-left: -1.5rem;
        line-height: 0.5rem;
        font-size: 0.7rem;
    }
    footer .footer {
        max-height: 8rem;
    }
    .footer .footer-left {
        margin-left: -5rem;
        max-width: 6rem;
    }
    .footer-left img {
        max-width: 4.2rem;
        margin-top: 2rem;
        margin-left: 15.1rem;
    }
    .footer-left .menu-footer {
        display: none;
    }
    .footer-left p {
        width: 10rem;
        font-size: 0.45rem;
        margin-top: 4.1rem;
        margin-left: 14rem;
        letter-spacing: 0px;
    }
    .footer-right {
        margin-top: 1rem;
        margin-left: 17rem;
    }
    .footer-right img {
        width: 1rem;
    }
    footer {
        margin-bottom: 2rem;
    }
}