@media screen and (max-width: 360px) {
    .nav-menu {
        max-width: 36rem;
    }
    .logo {
        max-width: 1rem;
        margin-left: 0.2rem;
    }
    .logo img {
        margin-top: 1rem;
        max-height: 1rem;
    }
    .menu {
        max-width: 16rem;
        float: right;
        margin-left: 2rem;
    }
    .menu .list li {
        margin-left: 0.1rem;
        display: inline;
        font-size: 0.4rem;
        letter-spacing: 0rem;
    }
    .menu .list {
        margin-top: 1rem;
    }
    section .our-story {
        max-width: 100%;
        display: inline-flex;
        height: 6rem;
    }
    .image .greybug {
        margin-bottom: -2rem;
        top: 0.5rem;
        width: 6rem;
        height: 8rem;
    }
    .image .out {
        top: 12.7rem;
        left: 2.6rem;
        max-width: 1.6rem;
    }
    .image .story {
        top: 13.9rem;
        left: 2.6rem;
        max-width: 2.9rem;
    }
    .content {
        margin-left: 0rem;
        margin-right: 0rem;
        font-size: 0.5rem;
        line-height: 10px;
        padding-top: 1rem;
    }
    .content span {
        font-size: small;
        padding-top: 1rem;
        color: #7fb8e0;
    }
    .product .fooddog {
        top: -0.2rem;
        right: 1rem;
        width: 6rem;
        height: 6rem;
    }
    .content-banner {
        background-size: 100% 15rem;
        background-repeat: no-repeat;
        height: 6rem;
    }
    .content-banner .smartobj {
        max-height: 2rem;
        margin-top: 0.3rem;
    }
    .content-banner .banner {
        height: 1.5rem;
        margin-left: 5.6rem;
    }
    .content-banner .title {
        max-width: 15rem;
        margin-top: 1rem;
        margin-left: 4rem;
    }
    .content-story {
        margin-left: 0rem;
        max-width: 100%;
        display: inline-flex;
        max-height: 13rem;
    }
    .content-text .subtile {
        height: 1rem;
        margin-left: 2rem;
        margin-top: 3rem;
        max-width: 13rem;
    }
    .content-text p {
        max-width: 13rem;
        margin-top: 1rem;
        margin-left: 2rem;
        font-size: 0.5rem;
    }
    .content-text button {
        font-size: 10px;
        margin-left: 2rem;
        margin-top: 0rem;
        line-height: 0.2rem;
    }
    .content-image .blackbug {
        margin-left: 1rem;
        margin-top: 3rem;
        width: 8rem;
        height: 10rem;
    }
    .content-image .smartobj2 {
        max-width: 2rem;
        margin-bottom: 7rem;
        margin-left: -1rem;
    }
    .product-content {
        max-height: 15rem;
    }
    .dog-breed {
        margin-left: 2rem;
    }
    .dog-breed .subtitle {
        width: 11rem;
        margin-top: 2.8rem;
        margin-left: 2rem;
    }
    .dog-breed p {
        top: 0.5rem;
        font-size: 0.7rem;
        margin-left: 2rem;
    }
    .dog-breed input {
        height: 0.2rem;
        max-width: 8rem;
        margin-left: 2rem;
        margin-top: 0rem;
    }
    .dog-breed button {
        margin-top: 0rem;
        margin-left: 2rem;
        line-height: 0.6rem;
        font-size: 0.7rem;
    }
    .dog-breed .eclipse {
        display: none;
    }
    .dog-breed .shape {
        display: none;
    }
    .learn-more-dog-breed {
        width: 100%;
        display: flex;
        max-height: 10rem;
        background-size: 100% 30rem;
    }
    .image-dog-breed img {
        width: 7.1rem;
        bottom: 1rem;
        height: 14.3rem;
        left: -9.5rem;
    }
    .learn-more {
        display: none;
    }
    .img-product img {
        width: 9rem;
        height: 9rem;
        margin-top: 3rem;
        margin-left: 0rem;
    }
    .all-product {
        max-height: 14rem;
        margin-bottom: -1rem;
    }
    .content-product img {
        width: 12rem;
        height: 1rem;
        margin-top: 4.1rem;
        margin-left: -1rem;
        margin-bottom: 0.1rem;
    }
    .content-product p {
        font-size: 0.6rem;
        margin-left: -1.1rem;
        margin-right: 5rem;
        margin-bottom: 0.5rem;
    }
    .content-product button {
        margin-left: -1rem;
        line-height: 0.5rem;
        font-size: 0.7rem;
    }
    footer .footer {
        max-height: 8rem;
    }
    .footer .footer-left {
        margin-left: -5rem;
        max-width: 6rem;
    }
    .footer-left img {
        max-width: 4.9rem;
        margin-top: 2rem;
        margin-left: 14.8rem;
    }
    .footer-left .menu-footer {
        max-width: 6rem;
        margin-top: 1.7rem;
        margin-left: 14rem;
    }
    .menu-footer li a {
        color: #46222a;
        font-size: 0.4rem;
    }
    .footer-left p {
        width: 8rem;
        font-size: 0.35rem;
        margin-top: 0rem;
        margin-left: 14rem;
        letter-spacing: 0px;
    }
    .footer-right {
        margin-top: 7rem;
        margin-left: 15rem;
    }
    .footer-right img {
        width: 0.4rem;
    }
    footer {
        margin-bottom: 2rem;
    }
}